---
---

@import "{{ site.theme }}";

img.zoomable {
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.secondary {
  color: #808080;
}

.index ul {
  padding-left: 0;
}

.index li {
  list-style-type: none;
  margin-bottom: 100px;
}

.index li h2 {
  margin: 0;
  border-bottom: none;
}

footer {
  border-top: 1px solid #eaecef;
  margin-top: 20px;
  padding-top: 10px;
}

footer.footer ul {
  display: flex;
  padding-left: 0;
  flex-direction: row;
  justify-content: flex-end;
}

footer.footer li {
  list-style-type: none;
  margin: 0 0 0 10px;
}

.content img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
