---
---

@import "{{ site.theme }}";

.content img {
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.secondary {
  color: #808080;
}

.index ul {
  padding-left: 0;
}

.index li {
  list-style-type: none;
}

.index li h2 {
  margin: 0;
  border-bottom: none;
}
