<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131354143-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-131354143-1');
    </script>
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>

        {% if page.title %}
        <h1>{{ page.title }}</h1>
        {% endif %}

        {% if page.date %}
        <span class="secondary">{{ page.date | date: "%Y-%m-%d" }}</span>
        {% endif %}

        {% if page.cover_url %}
        <img src="{{ page.cover_url }}" alt="cover photo"/>
        {% endif %}
      </header>

      <div class="content">
        {{ content }}
      </div>


      {% if page.comments %}
      <div id="disqus_thread"></div>
      {% endif %}

      <footer class="footer">
        <ul>
          <li>
            <a href="mailto:{{ site.email }}">
              Email
            </a>
          </li>

          <li>
            <a target="_blank" href="https://github.com/{{ site.github_username }}">
              Github
            </a>
          </li>

          <li>
            <a target="_blank" href="https://linkedin.com/in/{{ site.linkedin_username }}">
              LinkedIn
            </a>
          </li>

          <li>
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
              RSS
            </a>
          </li>
        </ul>
      </footer>
    </div>
    <!-- medium like zoom behavior for all img tags -->
    <script src="https://cdn.jsdelivr.net/npm/medium-zoom/dist/medium-zoom.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        window.mediumZoom('img.zoomable')
      });
    </script>


    {% if page.comments %}
    <script>
    var disqus_config = function () {
      this.page.url = window.location.href;
      this.page.identifier = '{{ page.permalink }}';
    };
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://trentyang.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endif %}
  </body>
</html>
